body, footer{
    font-family: 'Baloo Thambi 2', cursive;
    color: #F1DED1;
    text-align: center;
    font-size: 15px;
}

#intro {
    display: flow-root;
    background-color: #582A20;
}

#intro a {
    color: #F1DED1;
    text-decoration: none;
    margin-right: 40px;
}

.izq {
    float: left;
    font-size: 32px;
    padding: 0px 30px;
}

.derecha {
    float: right;
    padding: 16px;
}

#backimg {
    background-image: url('');
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-attachment: fixed; 
    text-align: center;
}

.integrantes {
    padding: 5% 0 4% 0;
    color: black;
}

.integrantes img {
    border: 1px solid #582A20;
    border-radius: 50%;
}

.integrantes p{
    padding: 2% 0 1% 0;
    text-align: justify;
    font-size: 14px;
}

#Pris, #Marvin, #Leiner, #Angie, #Er {
    line-height: 15px;
    vertical-align: top;
    margin-bottom: 1em;
    border-radius: 0.5em;
    box-sizing: border-box;
    width: 12%;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    border: 2px solid grey;
}

.contactUs{
    background-color: #F1DED1;
}

.contactUs input, .contactUs textarea{
    border-radius: 10%;
    border: none;
    padding: 1%;
}

#infoForm, #mens {
    line-height: 30px;
    vertical-align: top;
    margin-bottom: 1em;
    margin-top: 1em;
    border-radius: 0.5em;
    padding: 10px 50px 10px 20px;
    box-sizing: border-box;
    width: 12%;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    text-align: left;
}

#buttOn{
    padding: 1%;
}

#btnEnv {
    background-color: #BE7052;
    padding: 1%;
    border: none;
    border-radius: 25%;
    color: #F1DED1;
}

footer {
    background-color: #582A20;;
    font-size: 14px;
    padding: 1% 0 1% 0; 
}